.code-workspace
node_modules
__pycache__
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.vscode
.vskloot
.pytest_cache
#src
dist

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml
